#acordeon{
    font-size: 14px; width:200px;
}

label, tr {
    font-size: 14px; font-family: arial;
}

button, input[type="button"] {
    font-size: 20px; font-family: arial;
}

table {
    background-color: lightgray;
    border: solid 1px black;
    padding: 10px;
}

form {
    display: flex;
    justify-content: center;
}

